@import "_variables.scss";
@import "_mixins.scss";
@import "_reset.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    height: 100vh;
    width: 100vw;
    @include flex-center;
}

@keyframes liquid {
    0% {
        transform: translate(-50%, -80%) rotate(0deg);      
    }
    100% {
        transform: translate(-50%, -80%) rotate(360deg);      
    }
}

.container-test-animation {
    @include flex-center;

    width: 100%;
    // height: 150px;
    height: 100%;
    background-color: #EDF1FA;
    position: relative;
    
    .test-animation {
        @include flex-center;
        background-color: #1C7FA6;
        width: 200px;
        height: 60px;
        overflow: hidden;
        cursor: pointer;
        position: relative;    
        border-radius: 10px;    
    
        .text {
            p {
                position: relative;
                z-index: 1;
                color: #EDF1FA;
                font-size: 20px;
            }
        }

        &:hover {            
            letter-spacing: 0.5px;
        }
    
        .liquid {
            position: absolute;
            left: 50%;
            top: -35px;
            transform: translateX(-100px);
            width: 200px;
            height: 200px;
            background: #1C7FA6;
            box-shadow: inset 0 0 50px rgba($color: #000000, $alpha: 0.5);
            transition: 0.3s;

            &:hover {
                top: -100px;
            }

            &::before {
                content: '';
                position: absolute;
                width: 200%;
                height: 200%;
                top: 0;
                left: 50%;
                transform: translate(-50%, -85%);
            }
    
            &::after {
                content: '';
                position: absolute;
                width: 200%;
                height: 200%;
                top: 0;
                left: 50%;
                transform: translate(-50%, -85%);
            }

            &::before {
                content: '';
                border-radius: 45%;
                background: rgba($color: #000000, $alpha: 0.1);
                animation: liquid 5s linear infinite;                
            }

            &::after {
                content: '';
                border-radius: 40%;
                background: rgba($color: #0D0D0D, $alpha: 0.5);
                animation: liquid 10s linear infinite;
            }
        }  
    }
}